@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto&display=swap');

body {
    font-family: 'Poppins', 'sans-serif';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.body-home {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header{
    border-bottom: 1px solid #f1f5f9;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.menu-hamburger {
    display: none;
    font-size: 30px;
    color: #374151;
    cursor: pointer;
}

.header .menu-nav {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header .menu-nav li a {
    text-decoration: none;
    color: #334155;
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 100px;
}

.carrito {
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.carrito img {
    width: 30px;
    height: 30px;
}

.carrito .count-products-cart {
    position: absolute;
    top: 3px;
    right: -1px;
    font-size: 12px;
    background-color: #0ea5e9;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* Estilos restantes, sin cambios */

/* ... */

/* Estilos para el contenedor de logos */
.logos-home {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para la lista de navegación */
.logos-home .menu-nav-home {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Cambiar el comportamiento a flexbox */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente línea */
    justify-content: center; /* Centrar horizontalmente los elementos */
}

/* Estilos para los elementos de la lista */
.logos-home .menu-nav-home li {
    margin-right: 40px; /* Espacio entre los elementos de la lista */
    text-align: center; /* Alinear el texto al centro */
}

/* Estilos para los enlaces */
.logos-home .menu-nav-home a {
    color: #000; /* Color de texto */
    text-decoration: none; /* Elimina el subrayado */
    padding: 10px 10px; /* Relleno interior */
    border-radius: 100px; /* Borde redondeado */
    display: block; /* Cambiar a bloque para que el texto se coloque debajo de la imagen */
}

.logos-home .menu-nav-home .text-icom {
    background-color: #ffffff;
}

.logos-home .menu-nav-home img {
    width: 100px; /* Ancho del logo reducido a 100px (ajusta esto según tus necesidades) */
    height: 100px; /* Altura del logo reducido a 100px (ajusta esto según tus necesidades) */
    border-radius: 50%;
    margin: 0 auto; /* Centrar horizontalmente la imagen */
    display: block; /* Evitar que la imagen afecte la alineación del texto */
    border: 2px solid #000;
}

/* Estilos de la ventana emergente */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: 10% auto;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
@media (max-width: 767px) {

    header {
        display: block;
        z-index: 2;
    
    }
    
    .logos-home {
        padding-top: 30%;
        padding-left: 0%;
        grid-template-columns: 1fr;
            overflow-y: auto;
            max-height: 100%;
            }
    
        }
